Repository caverac/phspectra: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, pylint, pydocstyle, mypy, prettier, eslint, typecheck-ts

black:
  name: black
  entry: uv run black
  language: system

isort:
  name: isort
  entry: uv run isort
  language: system

flake8:
  name: flake8
  entry: uv run flake8
  language: system

pylint:
  name: pylint
  entry: uv run pylint
  language: system

pydocstyle:
  name: pydocstyle
  entry: uv run pydocstyle
  language: system

mypy:
  name: mypy
  entry: uv run mypy packages/phspectra/src/ packages/phspectra/tests/ packages/benchmarks/src/ packages/benchmarks/tests/ packages/train-gui/src/ packages/train-gui/tests/ packages/infrastructure/lambda/splitter/ packages/infrastructure/lambda/worker/ packages/infrastructure/lambda/tests/
  ...

prettier:
  name: prettier
  entry: yarn prettier --write
  language: system

eslint:
  name: eslint
  entry: yarn eslint --max-warnings 0 --fix
  language: system

typecheck-ts:
  name: tsc
  entry: yarn typecheck
  language: system
  pass_filenames: false

test(benchmakrs): added coverage
  packages/benchmarks/tests/test_correlation_plot_cmd.py
  packages/benchmarks/tests/test_survey_map_cmd.py
Due: black, isort, flake8, pylint, mypy

ci: guard-rails for forks
  .github/workflows/release.yml
Due: prettier

fix(docs): broken refs
  packages/docs/docs/idea-and-plan/motivation.md
  packages/docs/docs/intro.md
  packages/docs/docs/results/grs-survey.md
  packages/docs/docs/results/reproducing.md
  packages/docs/docusaurus.config.ts
  packages/pre-print/ms.tex
Due: prettier, eslint, typecheck-ts

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  5ec4e76c6622feafb1812f3ac6d42ca384cb0bda
Due: none

feat(pre-print): refined sections 1-2
  packages/benchmarks/src/benchmarks/commands/persistence_plot.py
  packages/benchmarks/src/benchmarks/commands/train_synthetic.py
  packages/docs/static/img/results/synthetic-f1.png
  packages/docs/static/img/results/water-level-stages.png
  packages/pre-print/Makefile
  packages/pre-print/figures/tikz/pipeline-overview.tex
  packages/pre-print/ms.bib
  packages/pre-print/ms.tex
Due: black, isort, flake8, pylint, pydocstyle, mypy

fix(docs): updated image sizes
  packages/benchmarks/src/benchmarks/cli.py
  packages/benchmarks/src/benchmarks/commands/compare_plot.py
  packages/benchmarks/src/benchmarks/commands/correlation_plot.py
  packages/benchmarks/src/benchmarks/commands/ncomp_rms_plot.py
  packages/benchmarks/src/benchmarks/commands/performance.py
  packages/benchmarks/src/benchmarks/commands/persistence_plot.py
  packages/benchmarks/src/benchmarks/commands/train_beta.py
  packages/benchmarks/src/benchmarks/commands/train_synthetic.py
  packages/benchmarks/src/benchmarks/commands/velocity_spacing_plot.py
  packages/benchmarks/tests/test_cli.py
  packages/benchmarks/tests/test_download_cmd.py
  packages/benchmarks/tests/test_velocity_spacing_plot_cmd.py
  packages/docs/docs/idea-and-plan/persistent-homology-primer.md
  packages/docs/docs/results/accuracy.md
  packages/docs/docs/results/beta.md
  packages/docs/docs/results/grs-survey.md
  packages/docs/docs/results/performance.md
  packages/docs/static/img/results/compare-disagreements.png
  packages/docs/static/img/results/correlation-plot.png
  packages/docs/static/img/results/f1-beta-sweep.png
  packages/docs/static/img/results/ncomp-vs-rms.png
  packages/docs/static/img/results/performance-benchmark.png
  packages/docs/static/img/results/persistence-diagram.png
  packages/docs/static/img/results/rms-distribution.png
  packages/docs/static/img/results/synthetic-errors.png
  packages/docs/static/img/results/velocity-spacing-plot.png
  packages/docs/static/img/results/width-comparison.png
  packages/pre-print/Makefile
  packages/pre-print/ms.tex
Due: black, isort, flake8, pylint, pydocstyle, mypy, prettier

ci: enabled pypi release
  .github/workflows/release.yml
  packages/pre-print/ms.tex
Due: prettier

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  b9ddbf37ef1c09e70d1ab3ed09c45d8c7bdd6ffb
Due: none

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  afe93370a149bf44141ebee6348baab5862092b4
Due: none

fix(phspectra): trigger release
  packages/phspectra/README.md
Due: prettier

chore(release): 1.4.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  7a5118bcccd9d50639d7f9f928058eb4a52e88bd
Due: none

chore(release): 1.4.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  1f0d4eeafe28b2dd8192aeb5ffb5880983ae519d
Due: none

chore(phspectra-release): 1.0.1 [skip ci]
  packages/phspectra/CHANGELOG.md
  packages/phspectra/pyproject.toml
  packages/phspectra/src/phspectra/__init__.py
Due: black, isort, flake8, pylint, pydocstyle, mypy, prettier

fix(phspectra): build sdist
  packages/phspectra/pyproject.toml
  packages/pre-print/Makefile
  packages/pre-print/ms.tex
Due: none

ci(phspectra): format changelog
  packages/phspectra/pyproject.toml
Due: none

ci(phspectra): format changelog
  packages/phspectra/CHANGELOG.md
Due: prettier

chore(release): 1.4.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  032d79547bff8df1d3083efa38295d2c1eafc73a
Due: none

fix(phspectra): removed npx command
  .prettierignore
  packages/phspectra/pyproject.toml
Due: none

Notes added by 'git notes add'
  83b8792d440feca81f562fc044f0ce4e3c17e098
Due: none

chore(release): 1.4.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

chore(phspectra-release): 1.0.2 [skip ci]
  packages/phspectra/CHANGELOG.md
  packages/phspectra/pyproject.toml
  packages/phspectra/src/phspectra/__init__.py
Due: black, isort, flake8, pylint, pydocstyle, mypy, prettier

fix(pre-print): fixed typos
  packages/pre-print/ms.tex
Due: none

chore(release): 1.4.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  95421f74ccc5ce63540f8ba760ca28310e19f156
Due: none

fix(pre-print): removed deprecated artifacts
  packages/pre-print/persistence-diagram.tex
  packages/pre-print/pipeline-overview.tex
  packages/pre-print/water-level.tex
Due: none

chore(release): 1.4.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  82820620961b363525b9133d4c6295dbc8ca8356
Due: none

fix: updated peak detection description
  packages/benchmarks/src/benchmarks/commands/persistence_plot.py
  packages/docs/static/img/results/persistence-diagram.png
  packages/docs/static/img/results/water-level-stages.png
  packages/pre-print/ms.bib
  packages/pre-print/ms.tex
  uv.lock
Due: black, isort, flake8, pylint, pydocstyle, mypy

fix(benchmarks): added sqrt scale to survey plot
  .gitignore
  LICENSE
  README.md
  packages/benchmarks/src/benchmarks/commands/grs_map_plot.py
  packages/benchmarks/src/benchmarks/commands/survey_map.py
  packages/benchmarks/tests/test_survey_map_cmd.py
  packages/docs/static/img/results/grs-map-plot.png
  packages/pre-print/grs-map-plot.png
  packages/pre-print/ms.bib
  packages/pre-print/ms.tex
  packages/pre-print/water-level-stages.png
Due: black, isort, flake8, pylint, pydocstyle, mypy, prettier

feat(benchmarks): added representative fits to the cli
  packages/benchmarks/src/benchmarks/_plotting.py
  packages/benchmarks/src/benchmarks/cli.py
  packages/benchmarks/src/benchmarks/commands/representative_fits_plot.py
  packages/benchmarks/tests/test_cli.py
  packages/benchmarks/tests/test_representative_fits_cmd.py
  packages/docs/static/img/results/representative-fits.png
  packages/pre-print/Makefile
  packages/pre-print/ms.tex
  packages/pre-print/representative-fits.png
Due: black, isort, flake8, pylint, pydocstyle, mypy

fix(representative_fits_plot): linting issue
  packages/benchmarks/src/benchmarks/commands/representative_fits_plot.py
Due: black, isort, flake8, pylint, pydocstyle, mypy

Path conditions:
  black: any of: ^packages/(phspectra|benchmarks|train-gui|infrastructure/lambda)/ and \.py$
  isort: any of: ^packages/(phspectra|benchmarks|train-gui|infrastructure/lambda)/ and \.py$
  flake8: any of: ^packages/(phspectra|benchmarks|train-gui|infrastructure/lambda)/ and \.py$
  pylint: any of: ^packages/(phspectra/(src|tests)|benchmarks/(src|tests)|train-gui/(src|tests)|infrastructure/lambda/(splitter|worker|tests))/ and \.py$
  pydocstyle: any of: ^packages/(phspectra/src|benchmarks/src|train-gui/src|infrastructure/lambda/(splitter|worker))/ and \.py$
  mypy: any of: ^packages/(phspectra|benchmarks|train-gui|infrastructure/lambda)/ and \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.css$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  typecheck-ts: any of: \.(ts|mts|cts)$, \.tsx$
