Repository caverac/phspectra: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, pylint, pydocstyle, mypy, prettier, eslint, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # --- Python formatters (auto-fix) ---
      - id: black
        name: black
        entry: uv run black
        language: system
        types: [python]
        files: ^packages/(phspectra|benchmarks|train-gui|infrastructure/lambda)/

      - id: isort
        name: isort
        entry: uv run isort
        language: system
        types: [python]
        files: ^packages/(phspectra|benchmarks|train-gui|infrastructure/lambda)/

      # --- Python linters ---
      - id: flake8
        name: flake8
        entry: uv run flake8
        language: system
        types: [python]
        files: ^packages/(phspectra|benchmarks|train-gui|infrastructure/lambda)/

      - id: pylint
        name: pylint
        entry: uv run pylint
        language: system
        types: [python]
        files: ^packages/(phspectra/(src|tests)|benchmarks/(src|tests)|train-gui/(src|tests)|infrastructure/lambda/(splitter|worker|tests))/

      - id: pydocstyle
        name: pydocstyle
        entry: uv run pydocstyle
        language: system
        types: [python]
        files: ^packages/(phspectra/src|benchmarks/src|train-gui/src|infrastructure/lambda/(splitter|worker))/

      # --- Python typecheck (whole-project, not per-file) ---
      - id: mypy
        name: mypy
        entry: >-
          uv run mypy
          packages/phspectra/src/
          packages/phspectra/tests/
          packages/benchmarks/src/
          packages/benchmarks/tests/
          packages/train-gui/src/
          packages/train-gui/tests/
          packages/infrastructure/lambda/splitter/
          packages/infrastructure/lambda/worker/
          packages/infrastructure/lambda/tests/
        language: system
        types: [python]
        pass_filenames: false
        files: ^packages/(phspectra|benchmarks|train-gui|infrastructure/lambda)/

      # --- JS/TS formatters (auto-fix) ---
      - id: prettier
        name: prettier
        entry: yarn prettier --write
        language: system
        types_or: [javascript, jsx, ts, tsx, json, markdown, yaml, css]

      # --- JS/TS linters (auto-fix where possible) ---
      - id: eslint
        name: eslint
        entry: yarn eslint --max-warnings 0 --fix
        language: system
        types_or: [javascript, jsx, ts, tsx]

      # --- JS/TS typecheck (whole-project) ---
      - id: typecheck-ts
        name: tsc
        entry: yarn typecheck
        language: system
        pass_filenames: false
        types_or: [ts, tsx]

  # --- Commit message lint ---
  - repo: local
    hooks:
      - id: commitlint
        name: commitlint
        entry: yarn commitlint --edit
        language: system
        stages: [commit-msg]
        always_run: true

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  57cf3d20ad1e139dc4de83125d5e5eeaed50b6d2
Due: none

fix: bug in measuring gp time
  packages/benchmarks/docker/benchmark.py
  packages/benchmarks/src/benchmarks/_plotting.py
  packages/benchmarks/src/benchmarks/commands/compare_plot.py
  packages/benchmarks/src/benchmarks/commands/inspect_pixel.py
  packages/benchmarks/src/benchmarks/commands/ncomp_rms_plot.py
  packages/benchmarks/src/benchmarks/commands/performance.py
  packages/benchmarks/src/benchmarks/commands/persistence_plot.py
  packages/benchmarks/src/benchmarks/commands/pre_compute.py
  packages/benchmarks/src/benchmarks/commands/train_beta.py
  packages/benchmarks/src/benchmarks/commands/train_synthetic.py
  packages/benchmarks/tests/conftest.py
  packages/benchmarks/tests/test_benchmark_docker.py
  packages/benchmarks/tests/test_generate_logo_cmd.py
  packages/benchmarks/tests/test_train_beta_cmd.py
  packages/docs/docs/results/accuracy.md
  packages/docs/static/img/results/compare-disagreements.png
  packages/docs/static/img/results/f1-beta-sweep.png
  packages/docs/static/img/results/ncomp-vs-rms.png
  packages/docs/static/img/results/performance-benchmark.png
  packages/docs/static/img/results/rms-distribution.png
  packages/docs/static/img/results/rms-scatter.png
  packages/docs/static/img/results/width-comparison.png
Due: black, isort, flake8, pylint, pydocstyle, mypy, prettier

docs: updated docs to reflect latest version
  packages/docs/docs/results/accuracy.md
  packages/docs/docs/results/performance.md
Due: prettier

ci: added python to ts test image
  .github/workflows/ci.yml
Due: prettier

test(infrastructure): fixed dynamo key type
  packages/infrastructure/test/processing.stack.test.ts
Due: prettier, eslint, typecheck-ts

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  abc6c8cb4e7ebd3da7336f0d21438306e16928c6
Due: none

feat(phspectra): moved phspectra functionality into c extension
  .github/workflows/ci.yml
  packages/benchmarks/src/benchmarks/_plotting.py
  packages/benchmarks/src/benchmarks/commands/performance.py
  packages/docs/docs/results/performance.md
  packages/docs/docs/results/reproducing.md
  packages/docs/static/img/results/compare-disagreements.png
  packages/docs/static/img/results/ncomp-vs-rms.png
  packages/docs/static/img/results/performance-benchmark.png
  packages/docs/static/img/results/rms-distribution.png
  packages/docs/static/img/results/rms-scatter.png
  packages/docs/static/img/results/width-comparison.png
  packages/phspectra/.gitignore
  packages/phspectra/pyproject.toml
  packages/phspectra/setup.py
  packages/phspectra/src/phspectra/_gaussfit.c
  packages/phspectra/src/phspectra/_gaussfit.pyi
  packages/phspectra/src/phspectra/decompose.py
  packages/phspectra/src/phspectra/persistence.py
  packages/phspectra/tests/test_decompose.py
  packages/phspectra/tests/test_gaussfit_ext.py
  packages/phspectra/tests/test_persistence.py
  packages/phspectra/tests/test_quality.py
Due: black, isort, flake8, pylint, pydocstyle, mypy, prettier

ci: added release dependency
  .github/workflows/release.yml
  packages/benchmarks/tests/test_inspect_cmd.py
  packages/phspectra/src/phspectra/_gaussfit.pyi
Due: black, isort, flake8, pylint, mypy, prettier

ci: handle .pyi linting issues
  packages/phspectra/src/phspectra/_gaussfit.pyi
  packages/phspectra/src/phspectra/persistence.py
  pyproject.toml
Due: black, isort, flake8, pylint, pydocstyle, mypy

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  5d35cc5c6b2a9c484005398a3b3d643cee586357
Due: none

chore(phspectra-release): 1.0.0 [skip ci]
  packages/phspectra/CHANGELOG.md
  packages/phspectra/pyproject.toml
  packages/phspectra/src/phspectra/__init__.py
Due: black, isort, flake8, pylint, pydocstyle, mypy, prettier

ci: added github token to release pipeline
  .github/workflows/release.yml
Due: prettier

fix: deleted status of beta as a first-class citizen
  .github/workflows/release.yml
  packages/benchmarks/src/benchmarks/_constants.py
  packages/benchmarks/src/benchmarks/commands/pipeline.py
  packages/benchmarks/src/benchmarks/commands/pre_compute.py
  packages/benchmarks/tests/test_pipeline_cmd.py
  packages/docs/docs/infrastructure/aws-pipeline.md
  packages/docs/docs/library/algorithm.md
  packages/docs/docs/library/api.md
  packages/docs/docs/library/examples.md
  packages/docs/docs/library/installation.md
  packages/docs/sidebars.ts
  packages/infrastructure/lambda/splitter/handler.py
  packages/infrastructure/lambda/tests/test_splitter_handler.py
  packages/infrastructure/lambda/tests/test_worker_handler.py
  packages/infrastructure/lambda/worker/.gitignore
  packages/infrastructure/lambda/worker/Dockerfile
  packages/infrastructure/lambda/worker/handler.py
  packages/infrastructure/src/bin/index.ts
  packages/infrastructure/src/lib/analytics.stack.ts
  packages/infrastructure/src/lib/github-oidc.stack.ts
  packages/infrastructure/src/lib/processing.stack.ts
  packages/infrastructure/src/lib/splitter.stack.ts
  packages/infrastructure/test/analytics.stack.test.ts
  packages/infrastructure/test/github-oidc.stack.test.ts
  packages/infrastructure/test/helpers.ts
  packages/infrastructure/test/processing.stack.test.ts
  packages/infrastructure/test/resources.stack.test.ts
  packages/infrastructure/test/splitter.stack.test.ts
  packages/phspectra/README.md
  packages/phspectra/src/phspectra/__init__.py
  packages/phspectra/src/phspectra/decompose.py
  pyproject.toml
  uv.lock
Due: black, isort, flake8, pylint, pydocstyle, mypy, prettier, eslint, typecheck-ts

test(test_workfer_handler): added coverage
  packages/infrastructure/lambda/tests/test_worker_handler.py
Due: black, isort, flake8, pylint, mypy

Notes added by 'git notes add'
  ee0c2a912753c74b9aacaced33715ce8d566a7a5
Due: none

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

ci: added --all flag
  .github/workflows/release.yml
Due: prettier

refactor(phspectra): removed max_components
  packages/benchmarks/pyproject.toml
  packages/benchmarks/src/benchmarks/_constants.py
  packages/benchmarks/src/benchmarks/cli.py
  packages/benchmarks/src/benchmarks/commands/grs_map_plot.py
  packages/benchmarks/src/benchmarks/commands/inspect_pixel.py
  packages/benchmarks/src/benchmarks/commands/pipeline.py
  packages/benchmarks/src/benchmarks/commands/pipeline_grs.py
  packages/benchmarks/src/benchmarks/commands/pre_compute.py
  packages/benchmarks/src/benchmarks/commands/survey_map.py
  packages/benchmarks/src/benchmarks/commands/train_beta.py
  packages/benchmarks/src/benchmarks/commands/train_synthetic.py
  packages/benchmarks/tests/test_cli.py
  packages/benchmarks/tests/test_grs_map_plot_cmd.py
  packages/benchmarks/tests/test_pipeline_cmd.py
  packages/benchmarks/tests/test_pipeline_grs_cmd.py
  packages/benchmarks/tests/test_survey_map_cmd.py
  packages/docs/docs/idea-and-plan/data-sources.md
  packages/docs/docs/idea-and-plan/persistent-homology-primer.md
  packages/docs/docs/infrastructure/aws-pipeline.md
  packages/docs/docs/infrastructure/visibility.md
  packages/docs/docs/library/api.md
  packages/docs/docs/results/grs-survey.md
  packages/docs/sidebars.ts
  packages/docs/static/img/results/performance-benchmark.png
  packages/docs/static/img/results/survey-map-plot.png
  packages/infrastructure/lambda/splitter/handler.py
  packages/infrastructure/lambda/tests/conftest.py
  packages/infrastructure/lambda/tests/test_slow_handler.py
  packages/infrastructure/lambda/tests/test_splitter_handler.py
  packages/infrastructure/lambda/tests/test_worker_handler.py
  packages/infrastructure/lambda/worker/Dockerfile
  packages/infrastructure/lambda/worker/handler.py
  packages/infrastructure/lambda/worker/slow_handler.py
  packages/infrastructure/src/lib/processing.stack.ts
  packages/infrastructure/src/lib/splitter.stack.ts
  packages/infrastructure/test/processing.stack.test.ts
  packages/infrastructure/test/splitter.stack.test.ts
  packages/phspectra/src/phspectra/decompose.py
  packages/phspectra/tests/test_decompose.py
  uv.lock
Due: black, isort, flake8, pylint, pydocstyle, mypy, prettier, eslint, typecheck-ts

test: mock boto3
  packages/benchmarks/tests/test_pipeline_cmd.py
Due: black, isort, flake8, pylint, mypy

ci: enable the x86_64 runner to build ARM64 Docker images via QEMU emulation
  .github/workflows/release.yml
Due: prettier

fix(phspectra): clean up public api
  packages/benchmarks/src/benchmarks/commands/pipeline.py
  packages/docs/docs/idea-and-plan/persistent-homology-primer.md
  packages/docs/docs/library/algorithm.md
  packages/docs/docs/library/api.md
  packages/docs/static/img/results/compare-disagreements.png
  packages/docs/static/img/results/ncomp-vs-rms.png
  packages/docs/static/img/results/performance-benchmark.png
  packages/docs/static/img/results/rms-distribution.png
  packages/docs/static/img/results/rms-scatter.png
  packages/docs/static/img/results/width-comparison.png
  packages/infrastructure/cdk.context.json
  packages/infrastructure/lambda/tests/test_worker_handler.py
  packages/infrastructure/lambda/worker/handler.py
  packages/infrastructure/lambda/worker/slow_handler.py
  packages/phspectra/src/phspectra/_gaussfit.c
  packages/phspectra/src/phspectra/_gaussfit.pyi
  packages/phspectra/src/phspectra/decompose.py
  packages/phspectra/src/phspectra/noise.py
  packages/phspectra/tests/test_decompose.py
Due: black, isort, flake8, pylint, pydocstyle, mypy, prettier

Notes added by 'git notes add'
  cd5f4e7332c1a2e93f47d1de25d4ec8abd3d93ae
Due: none

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

fix(phspectra): set default beta=3.5
  packages/benchmarks/src/benchmarks/commands/inspect_pixel.py
  packages/benchmarks/src/benchmarks/commands/pipeline.py
  packages/benchmarks/src/benchmarks/commands/pipeline_grs.py
  packages/benchmarks/src/benchmarks/commands/pre_compute.py
  packages/benchmarks/src/benchmarks/commands/train_beta.py
  packages/benchmarks/src/benchmarks/commands/train_synthetic.py
  packages/docs/docs/idea-and-plan/motivation.md
  packages/docs/docs/idea-and-plan/persistent-homology-primer.md
  packages/docs/docs/infrastructure/aws-pipeline.md
  packages/docs/docs/intro.md
  packages/docs/docs/library/api.md
  packages/docs/docs/library/examples.md
  packages/docs/docs/results/beta.md
  packages/docs/docs/results/performance.md
  packages/docs/static/img/results/compare-disagreements.png
  packages/docs/static/img/results/f1-beta-sweep.png
  packages/docs/static/img/results/ncomp-vs-rms.png
  packages/docs/static/img/results/performance-benchmark.png
  packages/docs/static/img/results/rms-distribution.png
  packages/docs/static/img/results/rms-scatter.png
  packages/docs/static/img/results/synthetic-errors.png
  packages/docs/static/img/results/synthetic-f1.png
  packages/docs/static/img/results/width-comparison.png
  packages/infrastructure/lambda/worker/handler.py
  packages/phspectra/README.md
  packages/phspectra/src/phspectra/decompose.py
Due: black, isort, flake8, pylint, pydocstyle, mypy, prettier

chore(release): 1.2.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  dc6eb2e8aa2ae1605c41caf1cd0ce2f6f2c343dd
Due: none

chore(release): 1.2.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  af27fed5be6632e5cf6eb6aabd828a192d3e7352
Due: none

chore(release): 1.2.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  c8292ab585d78aa0840f63b636dca7617c1d4756
Due: none

docs: updated algorithm diagram
  packages/docs/docs/idea-and-plan/persistent-homology-primer.md
  packages/docs/docs/library/examples.md
Due: prettier
